    * {
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        height: 100%;
    }
    
    .container {
        margin: 0 auto;
        max-width: 1160px;
    }
    
    header {
        background-image: url(../image/SectionsBackground/section-1\(header\).jpg);
        padding: 250px 0;
    }
    
    .header_bg_style {
        background: rgba(43, 42, 41, 0.6);
        position: fixed;
        z-index: 512;
        width: 100%;
        top: 0;
    }
    
    nav {
        display: flex;
        color: white;
        justify-content: space-between;
        height: 122px;
        align-items: center;
    }
    
    .logo {
        font-size: 32px;
        position: relative;
        display: block;
        padding-left: 67px;
    }
    
    .logo::before {
        content: 'H';
        display: flex;
        position: absolute;
        width: 57px;
        height: 67px;
        background-image: url(../image/Polygon\ 1.png);
        align-items: center;
        justify-content: center;
        left: 0;
        top: -15px;
    }
    
    .logo_style {
        color: #18cfab;
        font-weight: bold;
    }
    
    .ul_links_style {
        display: flex;
        justify-content: space-between;
    }
    
    .ul_links_style>li:not(:last-child) {
        margin-right: 25px;
    }
    
    .navLink_style {
        text-decoration: none;
        color: #b8b8b8;
        text-transform: uppercase;
        font-size: 13px;
        transition: 0.3s;
        position: relative;
    }
    
    .navLink_style:hover {
        color: #18cfab;
    }
    
    .navLink_style:hover::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 68px;
        transition: 0.3s;
    }
    
    .navLink_style:hover::after {
        background-color: #18cfab;
    }
    
    .logo_content_style {
        text-align: center;
    }
    
    .logo_content_style>h2 {
        color: white;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 500;
    }
    
    .span_text_style {
        color: #18cfab;
    }
    
    h1 {
        color: white;
        font-size: 79px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 20px;
    }
    
    .logo_content_style>p {
        margin-top: 25px;
        color: #d4d4d4;
        font-size: 34px;
        font-weight: lighter;
    }
    
    button {
        width: 160px;
        height: 67px;
        border: none;
        border-radius: 6px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
    }
    
    .btn_style1 {
        margin-top: 145px;
        background: #18cfab;
        border-top: 7px solid white;
        margin-right: 30px;
    }
    
    .btn_style2 {
        margin-top: 145px;
        background: #00cbf6;
        border-top: 7px solid white;
    }
    /* /////////////////////section1//////////////// */
    
    .info_box {
        display: flex;
    }
    
    .info_card {
        width: 25%;
    }
    
    .info_card_title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    
    .info_card:nth-child(2n-1) {
        background: linear-gradient(to bottom, #18cfab 7px, #1c2a33 7px, #1c2a33 100%);
        color: #18cfab;
        padding: 95px 0 120px;
    }
    
    .info_card:nth-child(2n) {
        background: linear-gradient(to bottom, #ffffff 7px, #18cfab 7px, #18cfab 100%);
        color: #ffffff;
        padding: 106px 0 120px;
    }
    
    .info_card_title::before {
        display: block;
        margin-bottom: 60px;
    }
    
    .card_theme::before {
        content: url(../image/icon_1.png);
    }
    
    .card_custom::before {
        content: url(../image/icon_2.png);
    }
    
    .card_support::before {
        content: url(../image/icon_3.png);
    }
    
    .card_responsive::before {
        content: url(../image/icon_4.png);
    }
    
    .info_card:nth-child(2n)>p {
        padding-top: 10px;
    }
    /* //////////////////////////////////Our service////////////////// */
    
    .ourServicesWrapper {
        max-width: 1160px;
        margin: auto;
        margin-bottom: 103px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }
    
    .ourServicesWrapper h3 {
        font-size: 36px;
        color: #4e4e4e;
        position: relative;
        margin: 60px 0 85px 0;
    }
    
    .ourServicesWrapper h3::after,
    .ourServicesWrapper h3::before {
        position: absolute;
        content: '';
        width: 76px;
        background-color: #18cfab;
        border: none;
        height: 1px;
    }
    
    .ourServicesWrapper h3::after {
        top: calc(100% + 41px);
        left: calc(50% - 76px / 2)
    }
    
    .ourServicesWrapper h3::before {
        top: calc(100% + 37px);
        left: calc(50% - 76px / 2 - 10px)
    }
    
    .ourServicesButtons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, calc(100% / 6));
        grid-template-rows: 73px;
        margin-bottom: 25px;
    }
    
    .ourServicesButton {
        border-left: 1px solid #ebecec;
        border-top: 1px solid #ebecec;
        border-bottom: 1px solid #ebecec;
        background-color: #f8fcfe;
        font-size: 16.4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .ourServicesButtons :nth-child(6) {
        border-right: 1px solid #ebecec;
    }
    
    .ourSerActiveBtn {
        position: relative;
        background-color: #18cfab;
        color: white;
    }
    
    .ourSerActiveBtn::after {
        content: "";
        background-color: #18cfab;
        width: 24px;
        height: 13px;
        position: absolute;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }
    
    .ourServicesData {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        border: none;
    }
    
    .ourServicesData div[data-tab] {
        display: flex;
        overflow: hidden;
        height: 139px;
    }
    
    .ourServicesBlockIMG {
        width: calc(100% / 6);
        overflow: hidden;
    }
    
    .ourServicesBlockText {
        width: calc(100% * (5 / 6));
        background-color: white;
        padding-left: 20px;
        font-size: 14px;
        line-height: 22px;
        word-break: break-all;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    
    .ourServicesData div[data-tab="0"] img,
    .ourServicesData div[data-tab="1"] img,
    .ourServicesData div[data-tab="2"] img,
    .ourServicesData div[data-tab="3"] img {
        transform: translate(-19px, -43px);
    }
    
    .ourServicesData div[data-tab="4"] img {
        transform: translate(-42px, -41px);
    }
    
    .ourServicesData div[data-tab="5"] img {
        transform: translate(-25px, 0px);
    }
    
    .ourServicesData div[data-tab]:not([data-tab="0"]) {
        display: none;
    }
    
    .everything_is_ready {
        background-image: url(../image/SectionsBackground/section-2.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .everything_bg {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .everything_container {
        padding: 130px 0;
        text-align: center;
    }
    
    .h3_everything {
        color: #18cfab;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
    }
    
    .everything_text {
        margin-top: 35px;
        color: white;
    }
    
    .btn_style3 {
        background: #18cfab;
        border-top: 7px solid white;
        margin-top: 80px;
        font-weight: bold;
    }
    /* /////////////////////our Amazing Work/////////////////// */
    
    .our_amazing_h3 {
        font-size: 36px;
        color: #4e4e4e;
        position: relative;
        margin: 100px 100px;
        text-align: center;
    }
    
    .our_amazing_h3::after,
    .our_amazing_h3::before {
        position: absolute;
        content: '';
        width: 76px;
        background-color: #18cfab;
        border: none;
        height: 1px;
    }
    
    .our_amazing_h3::after {
        top: calc(100% + 41px);
        left: calc(50% - 76px / 2)
    }
    
    .our_amazing_h3::before {
        top: calc(100% + 37px);
        left: calc(50% - 76px / 2 - 10px)
    }
    
    .list-amazing {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 60px;
        background-color: white;
    }
    
    .li-amazing {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: #717171;
        font-size: 14px;
        margin: 0;
        border: 1px solid rgb(236, 236, 236);
        flex-grow: 1;
        list-style-type: none;
        transition: all .7s;
    }
    
    .li-amazing:hover {
        color: #18cfab;
        border-top: 2px solid #18cfab;
        cursor: pointer;
    }
    
    .menu-amazing-block {
        width: 600px;
        margin: 0 auto;
    }
    /* ///////ACTIVE AMAZING//////// */
    
    .work {
        background: #E9EDEF;
        padding-top: 15px;
    }
    
    .work--list ul {
        display: flex;
        justify-content: center;
    }
    
    .work--list-item {
        list-style-type: none;
        border: 1px solid #DADADA;
        padding: 15px;
    }
    /* #foto {
        display: none;
    } */
    
    #filter>div {
        display: none;
    }
    
    #filter.GraphicDesign>.GraphicDesign,
    #filter.WebDesign>.WebDesign,
    #filter.LandingPages>.LandingPages,
    #filter.Wordpress>.Wordpress,
    #filter.All>div {
        display: unset;
    }
    
    .work--buttons {
        display: flex;
        justify-content: center;
        margin: 50px 0 50px 0;
    }
    
    .work--button:active,
    .work--button:focus {
        outline: none;
        border: 1px solid #18cfab;
        color: #18cfab;
    }
    
    .work--button {
        padding: 20px 25px;
        border: 1px solid #d6d3d3;
        color: gray;
        font-weight: normal;
        font-size: 14px;
    }
    
    .work--button:hover {
        border: 1px solid #18cfab;
        color: #18cfab;
    }
    
    .block--button {
        text-align: center;
        height: 100px;
        margin-top: 90px;
    }
    
    .btn--load-more {
        padding: 20px 20px 20px 0;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        background-color: #18cfab;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .btn--load-more i {
        padding: 20px 25px;
        color: var(--white);
        font-size: 20px;
    }
    
    .work--hover-block {
        position: relative;
        display: inline-block;
    }
    /* /////////////////////////////////////////////////////////Breaking-News//////////////////////////////////////////////////// */
    
    .section_news {
        padding: 85px 0 130px;
    }
    
    .section_title {
        font-size: 36px;
        color: #4e4e4e;
        text-align: center;
        margin-bottom: 70px;
        padding-bottom: 35px;
        position: relative;
    }
    
    .section_title::after,
    .section_title::before {
        content: '';
        position: absolute;
        left: 50%;
        display: block;
        width: 76px;
        height: 1px;
        background-color: #18cfab;
    }
    
    .section_title::after {
        bottom: 16px;
        transform: translateX(-35px);
    }
    
    .section_title::before {
        bottom: 20px;
        transform: translateX(-50px);
    }
    
    .news_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .news_card {
        width: 263px;
        position: relative;
    }
    
    .news_card::after {
        content: '12 Feb';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 67px;
        height: 67px;
        background-color: #203e38;
        color: #ffffff;
        font-size: 16px;
        padding: 9px 13px;
        line-height: 25px;
        box-sizing: border-box;
        text-align: center;
        transition: background-color 0.3s;
    }
    
    .news_card:hover::after {
        background-color: #18cfab;
    }
    
    .news_card:not(:nth-last-child(-n+4)) {
        margin-bottom: 48px;
    }
    
    .news_card_description {
        padding: 13px 11px;
        border: 1px solid #ececec;
        background-color: #f8fcfe;
    }
    
    .news_card_title {
        font-size: 18px;
        color: #717171;
        font-weight: bold;
        margin-bottom: 14px;
        transition: color, 0.3s;
    }
    
    .news_card:hover .news_card_title {
        color: #18cfab;
    }
    
    .details {
        font-size: 14px;
        color: #777777;
        font-weight: 300;
    }
    
    .news_author {
        padding-right: 30px;
        position: relative;
    }
    
    .news_author::after {
        content: '';
        position: absolute;
        top: 2px;
        right: 13px;
        display: inline-block;
        width: 1px;
        height: 14px;
        background-color: #777777;
    }
    /* WHAT PEOPLE SAY ABOUT THE HAM */
    
    .whatPeopleSayWrapper {
        /* height: 100%; */
        padding: 50px;
        background: url(/image/SectionsBackground/section-3.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .whatThePeopleSayH {
        text-transform: none;
        font-weight: 500;
        color: white;
        text-align: center;
        position: relative;
    }
    
    .whatThePeopleSayH::after,
    .whatThePeopleSayH::before {
        content: '';
        position: absolute;
        left: 50%;
        display: block;
        width: 76px;
        height: 1px;
        background-color: #18cfab;
    }
    
    .whatThePeopleSayH::after {
        bottom: -50px;
        transform: translateX(-45px);
    }
    
    .whatThePeopleSayH::before {
        bottom: -55px;
        transform: translateX(-30px);
    }
    
    .fa-quote-left-people-say {
        color: #18cfab;
        font-size: 30px;
        margin-left: 570px;
        margin-top: 55px;
    }
    
    .sliderBig {
        margin: 30px 0 auto;
        z-index: -1;
    }
    
    .sliderBig-item {
        text-align: center;
        padding: 7px;
        z-index: -1;
    }
    
    .sliderBig-item p {
        margin-bottom: 60px;
        color: white;
    }
    
    .sliderBig-item span {
        display: block;
        color: aqua;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .sliderBig-item img {
        border: 1px solid aqua;
        border-radius: 50%;
        height: 225px;
        width: 225px;
        box-shadow: 0 0 0 6px rgba(22, 217, 183, 0.2);
    }
    
    .slider-item img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 2px solid aqua;
        box-shadow: 0 0 0 6px rgba(22, 217, 183, 0.2);
    }
    
    .slick-list {
        overflow: hidden;
    }
    
    .slick-track {
        display: flex;
    }
    
    .slider {
        position: relative;
        padding: 0px 10px;
        margin: 0 auto;
        margin-top: 150px;
        width: 450px;
        outline: none;
    }
    
    .slider .slick-arrow {
        position: absolute;
        top: 75%;
        margin: -50px 0 0 0;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 50px;
    }
    
    .slider .slick-arrow.slick-prev {
        left: -20px;
        height: 30px;
        background: url('/image/1904658-arrow-arrow-left-change-direction-left-next-undo_122508.svg') 0 0 / 100% no-repeat;
        background-color: rgba(999, 999, 999, 0.1);
    }
    
    .slider .slick-arrow.slick-next {
        right: -20px;
        height: 30px;
        background: url('/image/1904671-arrow-arrow-right-change-direction-next-page-right_122521.svg') 0 0 / 100% no-repeat;
        background-color: rgba(999, 999, 999, 0.1);
    }
    
    .slider .slick-arrow.slick-next:hover {
        background-color: aqua;
    }
    
    .slider .slick-arrow.slick-prev:hover {
        background-color: aqua;
    }
    
    .slider-item {
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-align: center;
        opacity: 0.4;
        padding: 30px;
        text-align: center;
    }
    
    .slick-slide.slick-center {
        opacity: 1;
        padding-bottom: 10px;
    }
    
    .slick-slide.slick-center img {
        transform: translateY(-12px);
        transition: transform 0.3s linear;
    }
    /* /////////////////GAllery images///////// */
    
    .section_gallery {
        padding: 100px 0 80px;
    }
    
    .gallery_box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 67px;
    }
    
    .gallery_col {
        width: 370px;
    }
    
    .gallery_col>* {
        width: 100%;
    }
    
    .gallery_col>*:not(:last-child) {
        margin-bottom: 19px;
    }
    
    .group_img_col {
        display: flex;
        flex-wrap: wrap;
    }
    
    .group_img .gallery_img {
        margin-bottom: 3px;
    }
    
    .two-col .gallery_img {
        width: 183px;
        height: 168px;
    }
    
    .gallery_img img {
        width: 100%;
        height: 100%;
    }
    
    .two-col .gallery_img:not(:nth-child(2n)) {
        margin-right: 3px;
    }
    
    .three-col .gallery_img {
        width: 121px;
        height: 92px;
    }
    
    .three-col .gallery_img:not(:nth-child(3n)) {
        margin-right: 3px;
    }
    
    .three-col .gallery_img:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    
    .gallery_img {
        position: relative;
    }
    
    .gallery_img_hover {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .gallery_img:hover .gallery_img_hover {
        opacity: 1;
    }
    
    .gallery_img_btn {
        border: none;
        border-radius: 2px;
        outline: none;
        width: 42px;
        height: 38px;
        background-color: #14b9d5;
        color: #ffffff;
        cursor: pointer;
        font-size: 17px;
        line-height: 38px;
        text-align: center;
        transition: background-color 0.2s;
    }
    
    .gallery_img_btn:hover {
        background-color: #18cfab;
    }
    
    .gallery_img_btn:first-child {
        margin-right: 8px;
    }
    
    .section_copy {
        padding: 48px 0;
        background-color: #22353f;
        font-size: 14px;
        color: #bbbbbb;
        text-align: center;
        font-weight: 300;
    }
    
    .green_text {
        color: #18cfab;
    }
    
    .section-wrap {
        background-image: url(../img/SectionsBackground/section-2.jpg);
        background-position: center;
        position: relative;
        z-index: 0;
    }
    
    .section-wrap::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }
    
    .container-wrap {
        text-align: center;
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
        color: #18cfab;
        margin-bottom: 35px;
        padding-top: 130px;
    }
    
    .container-wrap>p {
        color: white;
        font-size: 16px;
        margin-bottom: 75px;
    }
    
    .btn_style3 {
        background: #18cfab;
        border-top: 7px solid white;
        margin-bottom: 130px;
    }
    
    .flex-container {
        background: #ff0000aa;
        ;
    }